<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <% require 'date' %>
    <% date = DateTime.new %>
    <% date.strftime("The date is %A, %B %d, %Y") %>
  </body>
</html>
